In [1]:
import numpy as np
import pandas as pd
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler

In [2]:
data = pd.read_csv("DataPreprocessing.csv")
data.head()

   Region   Age   Income Online Shopper
0   India  49.0  86400.0             No
1  Brazil  32.0  57600.0            Yes
2     USA  35.0  64800.0             No
3  Brazil  43.0  73200.0             No
4     USA  45.0      NaN            Yes

In [3]:
X = data.iloc[:, :-1].values
Y = data.iloc[:, -1].values

In [4]:
si = SimpleImputer(missing_values = np.nan, strategy = 'mean')
si.fit(X[:, 1:])
X[:, 1:] = si.transform(X[:, 1:])

In [5]:
le = LabelEncoder()
X[:, 0] = le.fit_transform(X[:, 0])

In [6]:
ss = StandardScaler()
X[:, 1:] = ss.fit_transform(X[:, 1:])

In [7]:
X

array([[1, 0.758874361590019, 0.7494732544921676],
       [0, -1.7115038793306814, -1.438178407268753],
       [2, -1.2755547779917342, -0.8912654918285228],
       [0, -0.1130238410878753, -0.25320042381492097],
       [2, 0.17760889313808945, 0.0],
       [1, -0.5489729424268225, -0.5266568815350361],
       [0, 0.0, -1.0735697969752662],
       [1, 1.3401398300419485, 1.3875383225057694],
       [2, 1.6307725642679132, 1.7521469327992563],
       [1, -0.2583402082008577, 0.29371249162530916]], dtype=object)